#button1{
    background: #ff0000;
}
input[type="color"], .buttonColor{
    background-color: transparent;
    border: none;
    width: 3em;
    height: 3em;
    cursor: pointer;
    border-color: rgb(56, 56, 56);
}

.colorPickerDiv{
    float: top;
}
