#button1{
    background: #ff0000;
}
#button2{
    background-color: #00ff00;
}
#button3{
    background: #0000ff;
}
#button4{
    background: #ffff00;
}
#button5{
    background: #00ffff;
}
#button6{
    background: #ff00ff;
}
input[type="color"], .buttonColor{
    background-color: transparent;
    border: none;
    width: 3em;
    height: 3em;
    cursor: pointer;
    border-color: rgb(56, 56, 56);
}

.colorPickerDiv{
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 0.5em;
}
