/*Importent*/
/*Utility divs and elements are located in seprate file called utilityDivs.css*/
:root {
    --arcade-blue: #0074D9;
    --neon-red: #FF4136;
    --power-yellow: #FFDC00;
    --pixel-purple: #B10DC9;
    --glow-green: #2ECC40;
    --deep-black: #2b2b2b;
    --retro-orange: #FF851B;
    --crt-white: #DDDDDD;
    --animation-opacity: 0.8;
}

@font-face {
    font-family: PixelifySans;
    font-weight: 700;
    src: url("./fonts/PixelifySans-Bold.ttf");
}

@font-face {
    font-family: PixelifySans;
    font-weight: 300;
    src: url("./fonts/PixelifySans-Regular.ttf");
}

@font-face {
    font-family: PixelifySans;
    font-weight: 200;
    src: url("./fonts/PixelifySans-SemiBold.ttf");
}

@font-face {
    font-family: PixelifySans;
    font-weight: 400;
    src: url("./fonts/PixelifySans-Medium.ttf");
}


@keyframes flicker {
    0% { 
        opacity: 1; 
    }
    50% { 
        opacity: var(--animation-opacity); 
    }
    100% { 
        opacity: 1; 
    }
}

* {
    font-family: PixelifySans, sans-serif;
}
/*Divs layout*/
body, .mainDiv {
    background-color: var(--deep-black);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    flex-direction: column;
    color: var(--glow-green);
    font-family: 'PixelifySans', sans-serif;
    text-shadow: 0 0 2px var(--glow-green), 0 0 10px var(--glow-green);
    filter: contrast(1.2) brightness(1.1);
    position: relative;
    overflow: hidden;
    
}

body::before {
    box-sizing: border-box;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.2) 0px,
        rgba(0, 0, 0, 0.2) 1px,
        transparent 8px,
        transparent 8px
        );
        pointer-events: none;
        z-index: 10;    
    perspective: 80px;
}

    
#sierp {
    width: 50%;
}
    
.drawingUtilityDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.mainActionButtonDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}
    
#title {
    font-size:6em;
    font-weight: 700;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size:500% auto;
    animation: flicker 0.1s infinite alternate;
}
    
#main {
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:50vw;
}
.mainActionButton {
    cursor: pointer;
    width:100%;
        
    margin-top:5vh;
    border-radius: 10px;
    padding:8px;
    background-color: var(--deep-black);
    background-size: 500% auto;
    color: var(--glow-green);
    text-align: center;
    font-size: 1.5em;
        
}
.mainActionButton:hover {
    animation-name: textGradient;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: var(--glow-green) 0px 0px 10px;
    animation: flicker 0.1s infinite alternate;
}
.mainActionButton:active {
    scale: 0.9;
}
#backActionButton {
    width:97%;
}
a {
    color:var(--crt-white);
}
#mainCanvas {
    /* width:70vw;
    height:70vh; */
    display: block;
    top:0px;
    bottom: 0px;
    left:0px;
    right:0px;
    margin:auto;
    border:1px solid var(--crt-white);
    cursor: none;
    position: relative;
    
}
#brush{
    position: absolute;
    pointer-events: none;
    background-color: #818181;
    width: 8px;
    height: 8px;
    opacity: 0.7;
   
}

#nextPageGrid, #lastPageGrid, #returnDiv, #lastPageCredits {
    position: absolute;
    top:0px;
    left:0px;
    transition: all .4s linear;
    background-color: var(--deep-black);
    height:0vh;
    width: 99.99vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin:auto;
    visibility: hidden;
    font-size: 5em;
    color: var(--glow-green);
}
.nextPage {
    top: 0%;
    position: absolute;
    margin: 0;
    transition: all .4s linear;
    background-color: var(--deep-black);
    color:var(--crt-white);
    height:0vh;
    width: 99.99vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 3em;
    align-items: center;
    justify-content: center;
    margin:auto;
    visibility: hidden;
    float: left;
    width: 20%;
}
#nextPage1{
    left: 0%;
}
#nextPage2{
    left: 20%;
}
#nextPage3{
    left: 40%;
}
#nextPage4{
    left: 60%;
}
#nextPage5{
    left: 80%;
}

#nextPageGrid, #returnDiv, #nextPageCredits{
    bottom:0px;
    height:99.99vh;
}
.funFact {
    color:var(--crt-white);
    font-size:0.5em;
}
#fallingDiv {
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 3em;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: flicker 0.1s infinite alternate;
    visibility: hidden;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
#fallingDiv p {
    width: 100%;
    text-align: center;
}
#fallingDiv span{
    font-size: 5em;
    color: var(--glow-green);
}


@keyframes switchPage {
    from {
        height:0vh;
        visibility: visible;
    }
    to {
        height:99.99vh;
        visibility: visible;
    }
}
@keyframes switchPageReverse {
    from {
        height:99.99vh;
        visibility: visible;
    }
    to {
        height:0vh;
        visibility: hidden;
    }
}


.creditsText {
    font-size:200%;
    color:var(--crt-white);
    text-shadow: 2px 2px 10px white;
}
#madeByContainer {
    width:25%;
}